@use 'theme.scss';
@use 'reset.scss';

$collapse-width: 1200px;

body {
  padding: 0;
  font-family: 'Roboto', 'Segoe Ui';
  display: flex;

  @media (max-width: $collapse-width) {
    flex-direction: column;
  }
}

nav {
  flex-grow: 1;
  padding: 30px;
  min-width: theme.$navbar-width;
  max-width: theme.$navbar-width;

  & > div {
    display: flex;
    flex-direction: column;
    gap: theme.$default-padding;

    @media (min-width: $collapse-width) {
      border-right: 2px hsl(0, 0, 90) solid;
    }

    h1,
    h2 {
      flex-grow: 1;
      padding: 0;

      margin: 0;
      font-weight: bold;
      color: theme.$primary-fg-color;

      a {
        text-decoration: none;
      }

      a:hover {
        color: theme.$primary-hover-color;
      }
    }

    h1 {
      font-size: 30px;
    }

    h2 {
      font-size: 24px;
    }

    section {
      margin-left: 5px;
      padding-left: 15px;
      border-left: 2px theme.$primary-fg-color solid;

      a {
        text-decoration: none;
        font-size: 18px;
        color: black;
      }
      a:hover {
        color: theme.$primary-fg-color;
      }
      div.open > a:hover {
        color: theme.$primary-hover-color;
      }
      div.nav-page-stub {
        color: gray;
      }
      div.open {
        color: theme.$primary-fg-color;
      }
    }
  }
}

main {
  flex-grow: 1;
  padding: 30px;

  header {
    margin-bottom: 30px;

    .page-title {
      color: theme.$primary-fg-color;
    }

    .page-subtitle {
      color: hsl(0, 0, 30);
      font-size: 18px;
    }

    .section-title {
      color: theme.$primary-fg-color;
    }
  }

  h2 {
    margin-top: 30px;
    margin-bottom: 10px;
  }
}

#content {
  font-size: 18px;

  a {
    color: theme.$primary-fg-color;
    text-decoration: none;
    font-weight: bold;
  }

  a:hover {
    color: theme.$primary-hover-color;
  }

  .section-toc {
    div {
      margin-top: 20px;
    }

    p {
      margin-left: 20px;
    }
  }
}

.katex-html {
  text-align: left;
}

#search-query {
  color: hsl(0, 0, 30);
  font-size: 24px;
}

.search-result {
  h2 {
    a {
      color: theme.$primary-fg-color;
      text-decoration: none;
    }

    a:hover {
      color: theme.$primary-hover-color;
    }
  }

  p {
    margin-left: 5px;
    padding-left: 15px;
    border-left: 2px theme.$primary-fg-color solid;
  }
}
