@use 'theme.scss';
@use 'reset.scss';

body {
  padding: 0;
  font-family: 'Roboto', 'Segoe Ui';
  display: flex;

  @media (max-width: theme.$collapse-width) {
    flex-direction: column;
  }
}

nav {
  flex-grow: 1;
  padding: 30px;
  min-width: theme.$navbar-width;
  max-width: theme.$navbar-width;
}

main {
  flex-grow: 1;
  padding: 30px;
}

.giallo {
  padding: 1em;
}
