$primary-bg-color: hsl(220, 90, 70);
$primary-fg-color: hsl(220, 70, 40);
$primary-hover-color: hsl(220, 70, 60);

$default-padding: 10px;
$navbar-width: 500px;
$collapse-width: 1200px;

$stub-color: hsl(0, 0, 90);
$wip-color: hsl(30, 70, 80);
$draft-color: hsl(270, 50, 80);
$done-color: hsl(220, 90, 75);

