$primary-bg-color: hsl(220, 90, 70);
$primary-fg-color: hsl(220, 70, 40);
$primary-hover-color: hsl(220, 70, 60);

$default-padding: 10px;
$navbar-width: 450px;
$nav-header-height: 52px;
$collapse-width: 1200px;

$kw-color: hsl(0, 80, 40);
$kw-color-missing: hsl(0, 0, 50);

$paper-color: hsl(180, 100, 30);

$stub-color: hsl(0, 0, 90);
$wip-color: hsl(30, 70, 80);
$draft-color: hsl(270, 50, 80);
$done-color: hsl(120, 50, 40);

