$primary-bg-color: hsl(220, 90, 70);
$primary-fg-color: hsl(220, 70, 40);
$primary-hover-color: hsl(220, 70, 60);

$default-padding: 10px;
$navbar-width: 450px;
$nav-header-height: 52px;
$collapse-width: 1200px;

$keyword-color: hsl(180, 80, 30);
$keyword-missing-color: hsl(0, 0, 50);
$definition-color: hsl(180, 50, 20);

$stub-color: hsl(0, 0, 90);
$wip-color: hsl(30, 70, 80);
$draft-color: hsl(270, 50, 80);
$done-color: hsl(220, 90, 75);

