{% component paper.def(label: string, page: map, doi: string, pdf: string = "") %}

<div class="paper-def-box" id="paper-def-{{label|slugify}}">
<h2><a class="paper-def" data-label="{{label}}">{{label}}</a></h2>

<div
  class="paper-data"
  data-label="{{label}}"
  data-doi="{{doi}}">
  <div class="paper-data-key">Title</div><div class="paper-data-title"></div>
  <div class="paper-data-key">Year</div><div class="paper-data-year"></div>
  <div class="paper-data-key">References</div><div class="paper-data-references"></div>
  <div class="paper-data-key">Authors</div><div class="paper-data-authors"></div>
  <div class="paper-data-key">DOI</div><div><a href="https://doi.org/{{doi}}">{{doi}}</a></div>
  <div class="paper-data-key">PDF</div>
  {% if pdf %}
  <div><a href={{page.path ~ "/" ~ pdf}}>{{pdf}}</a></div>
  {% else %}
  <div>Not available</div>
  {% endif %}
</div>

</div>

{% endcomponent paper.def %}
