<details
  class="pdf-viewer"
  closed
  data-url="{{ get_url(path=page.path ~ url)}}"
  data-page="1"
  data-page-count="1">
<summary class="pdf-viewer-title">
  <div>{{ title }}</div>
  <div><a href="{{ get_url(path=page.path ~ url)}}">view file</a></div>
</summary>
<div class="pdf-viewer-header">
  <button class="pdf-viewer-prev">Previous</button>
  <button class="pdf-viewer-next">Next</button>
  <div>Page: <span class="pdf-viewer-page"></span> / <span class="pdf-viewer-page-count"></span></div>
</div>
<canvas>
</canvas>
</details><br>
