<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Zach Lambert</title>
  <link rel="stylesheet" href="{{ get_url(path="base.css") }}">

  <!-- Get cdn links from: https://cdnjs.com/libraries -->

  <!-- https://katex.org/docs/browser -->
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/katex@0.16.27/dist/katex.min.css"
    integrity="sha384-Pu5+C18nP5dwykLJOhd2U4Xen7rjScHN/qusop27hdd2drI+lL5KvX7YntvT8yew"
    crossorigin="anonymous">
  <script
    defer
    src="https://cdn.jsdelivr.net/npm/katex@0.16.27/dist/katex.min.js"
    integrity="sha384-2B8pfmZZ6JlVoScJm/5hQfNS2TI/6hPqDZInzzPc8oHpN5SgeNOf4LzREO6p5YtZ"
    crossorigin="anonymous">
  </script>
  <script
    defer
    src="https://cdn.jsdelivr.net/npm/katex@0.16.27/dist/contrib/auto-render.min.js"
    integrity="sha384-hCXGrW6PitJEwbkoStFjeJxv+fSOOQKOPbJxSfM6G5sWZjAyWhXiTIIAmQqnlLlh"
    crossorigin="anonymous">
  </script>

  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/elasticlunr/0.9.6/elasticlunr.min.js"
    integrity="sha512-0QarUp4p9r5IqUgSRyP89BHga45OpEd7VR8lbRkJkf48p/EhcU742fWUpKpoDyu9N6XYAEq/vz6m6z1OolnsDw=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer">
  </script>

  <script defer src="{{ get_url(path="/load-page.js") }}">
  </script>

</head>

<body>
  <nav id="navbar">
    <div>
      <h1><a href="{{ get_url(path="/") }}">Zach Lambert</a></h1>

      <form id="search-box" action="{{ get_url(path="/search")}}">
        <input
          type="text"
          placeholder="Search"
          name="query"/>
      </form>

      {% set permalink="" %}
      {% block set_permalink %}
      {% endblock set_permalink %}

      {% set root = get_section(path="_index.md", metadata_only=true) %}
      {% for section in root.subsections %}
        {% set section = get_section(path=section) %}
        {% set open = permalink is starting_with(section.permalink) %}

        <h2 class="nav-section {% if open %}open{% endif %}">
          <a href="{{ section.permalink }}">{{section.title}}</a>
        </h2>
        <section>
          {% for subsection in section.subsections %}
          {% set subsection = get_section(path=subsection) %}
          {% set open = permalink is starting_with(subsection.permalink) %}
          <div class="{% if open %}open{% endif %}">
            <a href="{{ subsection.permalink }}">{{subsection.title}}</a>
          </div>
          {% if open %}
          <section>
            {% for page in subsection.pages %}
            {% set open = permalink is starting_with(page.permalink) %}
            <div class="nav-page {% if open %}open{% endif %} nav-page-{{ page.extra.status }}">
              <a href="{{ page.permalink }}">{{page.title}}</a>
              <span>{{page.extra.status}}</span>
            </div>
            {% endfor %}
          </section>
          {% endif %}
          {% endfor %}
        </section>
      {% endfor %}
    </div>
  </nav>
  <main>
    {% block content %}
    {% endblock content %}
  </main>
</body>
</html>
