{% extends "base.html" %}

{% block set_permalink %}
{% set permalink=page.permalink %}
{% endblock set_permalink %}

{% block content %}

<header>
  <h1 class="page-title">
    {{ page.title }}
    {% if "status" in page.extra %}
    {% set status = page.extra.status %}
    {% else %}
    {% set status = "stub" %}
    {% endif %}

    {% if status == "wip" %}
    [WORK-IN-PROGRESS]
    {% endif %}
    {% if status == "stub" %}
    [STUB]
    {% endif %}
    {% if status == "draft" %}
    [DRAFT]
    {% endif %}
  </h1>
  {% if page.description %}
  <div class="page-subtitle">
    {{ page.description }}
  </div>
  {% endif %}
</header>

<!-- Hidden by default, shown when latex rendered -->
<div id="content">
{{ page.content | safe }}
</div>

{% endblock content %}
