{% extends "base.html" %}

{% block set_permalink %}
{% set permalink=page.permalink %}
{% endblock set_permalink %}

{% block content %}

<header>
  {% if "status" in page.extra %}
  {% set status = page.extra.status %}
  {% else %}
  {% set status = "stub" %}
  {% endif %}
  <h1 class="page-title {{ status }}">
    {{ page.title }}
  </h1>
  {% if page.description %}
  <div class="page-subtitle">
    {{ page.description }}
  </div>
  {% endif %}
</header>

<!-- Hidden by default, shown when latex rendered -->
<div id="content">
{{ page.content | safe }}
</div>

{% endblock content %}
