{% extends "base.html" %}

{% block set_permalink %}
{% set permalink=page.permalink %}
{% endblock set_permalink %}

{% block content %}

<header>
  <h1 class="page-title">
    {{ page.title }}
  </h1>
  {% if page.description %}
  <div class="page-subtitle">{{ page.description }}</div>
  {% endif %}
  {% if page.extra.status == "wip" %}
  <div class="page-subtitle">WORK-IN-PROGRESS</div>
  {% endif %}
  {% if page.extra.status == "stub" %}
  <div class="page-subtitle">STUB</div>
  {% endif %}
</header>

<!-- Hidden by default, shown when latex rendered -->
<div id="content">
{{ page.content | safe }}
</div>

{% endblock content %}
