{% extends "base.html" %}

{% block set_permalink %}
{% set permalink=section.permalink %}
{% endblock set_permalink %}

{% block content %}

<header>
  <h1 class="page-title">
    {{ section.title }}
  </h1>
  {% if section.description %}
  <div class="page-subtitle">{{ section.description }}</div>
  {% endif %}
</header>

<div id="content">
<div class="section-toc">
{% for subsection in section.subsections %}
  {% set subsection = get_section(path=subsection) %}
  <div><a href="{{ subsection.permalink | safe }}">{{ subsection.title }}</a></div>
  <p>{{subsection.description}}</p>
{% endfor %}
{% for page in section.pages %}
  <div><a href="{{ page.permalink | safe }}">{{ page.title }}</a></div>
  <p>{{page.description}}</p>
{% endfor %}
</div>

{{ section.content | safe }}
</div>

{% endblock content %}
